################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebsiteBookingHotel
/WebsiteBookingHotel/obj
/WebsiteBookingHotel/bin
/WebsiteBookingHotel/Properties/PublishProfiles
