################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebsiteBookingHotel
/WebsiteBookingHotel/obj
/WebsiteBookingHotel/bin/Debug/netcoreapp2.2
/WebsiteBookingHotel/bin
