@{
    ViewData["Title"] = "Trang chủ - Four Seasons Hotel";
}

<div class="container-fluid p-0 slide-show">
    <img src="~/img/slideshow_1.jpg" class="img-fluid" style="width: 100%;" alt="Responsive image">
    <p class="mx-auto title-welcome">
        Chào mừng đến với Sunshine Hotel and Resorts
    </p>
</div>
<div class="container-fluid p-0 fast-booking-form">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="fastBookingEmail" placeholder="Email" style="border-right: none;">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="far fa-envelope"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="fastBookingFromDate" placeholder="Ngày nhận phòng" style="border-right: none;" data-toggle="datepicker">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="fastBookingToDate" placeholder="Ngày trả phòng" style="border-right: none;" data-toggle="datepicker">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <select class="custom-select mr-sm-2" id="fastBookingTypeRoom">
                    <option selected>Loại phòng</option>
                    <option value="1">Phòng đơn</option>
                    <option value="2">Phòng đôi</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="custom-select mr-sm-1" id="fastBookingUnit">
                    <option selected>Số người</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-booking text-white" value="Đặt phòng" onclick="bookingRoom()"/>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="container">
        <div class="page-index-header pt-5">
            <h2>
                PHÒNG PHỔ BIẾN
            </h2>
            <span>
                " Hãy tìm phòng bạn thích, hãy cảm nhận như nhà của bạn "
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.Room)
            {
                <div class="col-md-4">
                    <div class="tab-index-booking i2">
                        <div class="lable-booking-status">
                            @item.Note
                        </div>
                        <div class="img-preview">
                            <img src="@item.ImageRoom" class="img-fluid" />
                        </div>
                        <div class="title-booking">
                            @item.Title
                        </div>
                        <div class="description-booking">
                            @item.Descriptions
                        </div>
                        <div class="option-booking">
                            <div class="row m-0">
                                @{
                                    bool skip = true;
                                    List<string> Addtionals = new List<string>();
                                    if(!String.IsNullOrEmpty(item.Addtional))
                                    {
                                        Addtionals = ((string)item.Addtional).Split(',').ToList();
                                    }
                                }
                                <div class="col-md-6">
                                    @foreach (string s in Addtionals)
                                    {
                                        if (skip)
                                        {
                                            skip = false;
                                            <p>
                                                <i class="fas fa-check-square"></i> @s
                                            </p>
                                        }
                                        else
                                        {
                                            skip = true;
                                        }
                                    }
                                </div>
                                <div class="col-md-6">
                                    @{
                                        skip = false;
                                    }
                                    @foreach (string s in Addtionals)
                                    {
                                        if (skip)
                                        {
                                            skip = false;
                                            <p>
                                                <i class="fas fa-check-square"></i> @s
                                            </p>
                                        }
                                        else
                                        {
                                            skip = true;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <hr class="h20" />
                        <div class="footer-booking">
                            <div class="price-booking float-left">900,000 <sup>đ</sup>/<sub>đêm</sub></div>
                            <div class="float-right">
                                <input type="button" class="btn btn-info" value="Xem chi tiết" />
                                <input type="button" class="btn btn-success" value="Đặt phòng" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<hr />

@section Scripts {

<script>
    function bookingRoom() {
        var data = {};
        data.email = $("#fastBookingEmail").val();
        data.fromDate = $("#fastBookingFromDate").val();
        data.toDate = $("#fastBookingToDate").val();
        data.typeRoom = $("#fastBookingTypeRoom > option:selected").text();
        data.unitCustomer = $("#fastBookingUnit > option:selected").val();

        $.post("/Services/BookingRoom", data, function (d) { console.log(d) });
    }
</script>

}