.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell > span, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell > span
{
    font-weight: 600;
}

#kt_content, .kt_content {
    box-shadow: 0px 0px 5px #8989af;
}

.kt-aside .kt-aside-menu {
    margin: 0px;
}

#kt_footer {
    padding: 5px;
}

#kt_footer .kt-footer__menu {
    margin: 0px;
}

.modal .modal-content{
    border-radius: 2px;
}

.open > .dropdown-menu {
    display: block;
}

.datepicker tbody tr > td.day.new {
    color: #a7abc3;
}

.jstree-default .jstree-wholerow-clicked {
    background: #cee2f3 !important;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #a79f45;
    padding: 2px 5px;
    border-radius: 2px;
}

.bootstrap-tagsinput {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    box-shadow: none;
}

