<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebsiteBookingHotel</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400&display=swap" rel="stylesheet">
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Css", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white p-0 mb-5">
            <div class="container">
                <a>Chào mừng đến với Four Seasons Hotel !</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="logo container">
            <div class="row">
                <div class="col-12">
                    <img class="mx-auto d-block" src="~/img/logo.png">
                </div>
            </div>
        </div>
        <nav class="navbar bg-faded nav-menu">
            <div class="container">
                <ul class="nav mx-auto ul-nav-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thư viện ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i style="font-size: 13px;" class="fas fa-search"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="border-top footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <h3 class="footer-header-info">
                        Giới thiệu
                    </h3>
                    <p>
                        Haravan lựa chọn Website hàng đầu cho khách hàng
                    </p>
                    <p>
                        Ngày làm việc : Thứ 2 - Thứ 7
                    </p>
                    <p>
                        Thời gian làm việc : 8h30 - 17h30
                    </p>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-header-info">
                        Tin mới nhất
                    </h3>
                    <div class="footer-news">
                        <div class="footer-news-img">
                            <img src="~/img/new-1.jpg" class="img-fluid" />
                        </div>
                        <div class="footer-news-content">
                            <a href="#">Mừng Tết Bính Thân - Miễn phí cho 10 Khách hàng đầu tiên</a>
                        </div>
                    </div>
                    <div class="footer-news">
                        <div class="footer-news-img">
                            <img src="~/img/new-1.jpg" class="img-fluid" />
                        </div>
                        <div class="footer-news-content">
                            <a href="#">Mừng Tết Bính Thân - Miễn phí cho 10 Khách hàng đầu tiên</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-header-info">
                        Thông tin
                    </h3>
                    <p>
                        Địa chỉ : 56 Vân côi, Q. Tân Bình, Tp.HCM
                    </p>
                    <p>
                        Số điện thoại : 1900.636.099
                    </p>
                    <p>
                        Email : hi@haravan.com
                    </p>
                    <p class="social">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-google"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="container sub-footer">
            &copy; 2020 - WebsiteBookingHotel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
    <script>
        (function (global, factory) {
          typeof exports === 'object' && typeof module !== 'undefined' ? factory(require('jquery')) :
          typeof define === 'function' && define.amd ? define(['jquery'], factory) :
          (factory(global.jQuery));
        }(this, (function ($) {

          'use strict';

          $.fn.datepicker.languages['vn-VN'] = {
            format: 'dd/mm/yyyy',
            days: ['chủ nhật', 'thứ 2', 'thứ 3', 'thứ 4', 'thứ 5', 'thứ 6', 'thứ 7'],
            daysShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            daysMin: ['cn', '2', '3', '4', '5', '6', '7'],
            weekStart: 1,
            months: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            monthsShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12']
          };
        })));
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
