@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebsiteBookingHotel.Data.WebsiteInfo


@{
    ViewData["Title"] = "Chỉnh sửa phòng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section Css {
    <style>
        .alert.alert-secondary .alert-text {
            color: #F44336;
        }

        .alert-icon .kt-font-brand {
            color: #F44336 !important;
        }

        
.container-Logo, .container-Banner {
    padding: 5px;
    border: 1px solid #5491e6;
    margin-bottom: 30px;
}
    </style>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-grid__item kt-grid__item--fluid" id="kt_content">

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Cài đặt website
                        </h3>
                    </div>
                </div>

                <!--begin::Form-->
                <form class="kt-form" method="post" action="/Admin/Dashboard/Index">
                    <input asp-for="Id" class="kt-hidden" value="1" />
                    <div class="kt-portlet__body">
                        <div class="form-group form-group-last @ViewBag.ErrorClass">
                            <div class="alert alert-secondary" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                                <div class="alert-text">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5 border-bottom">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Logo" class="control-label">Logo</label>
                                    <input type="file" id="fileLogo" class="form-control" placeholder="Link hình ảnh" />
                                    <input asp-for="Logo" id="Logo" class="form-control kt-hidden" placeholder="Link hình ảnh" />
                                    <span asp-validation-for="Logo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-8 container-Logo">

                            </div>
                        </div>
                        <div class="row mb-5 border-bottom">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Banner</label>
                                    <input type="file" id="fileBanner" class="form-control" placeholder="Link banner" />
                                    <input id="Banner" class="form-control kt-hidden" placeholder="Link hình ảnh" />
                                </div>
                            </div>
                            <div class="col-md-8 container-Banner">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Note">Chào mừng</label>
                                    <textarea asp-for="Note" type="text" class="form-control" placeholder="Chào mừng"></textarea>
                                    <span asp-validation-for="Note" class="form-text text-muted"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Name">Tên website</label>
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Tên website">
                                    <span asp-validation-for="Name" class="form-text text-muted"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slogan">Slogan</label>
                                    <input asp-for="Slogan" type="text" class="form-control" placeholder="Slogan">
                                    <span asp-validation-for="Slogan" class="form-text text-muted"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label">Email</label>
                                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                                    <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Số điện thoại" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="AddressWebsite" class="control-label">Địa chỉ</label>
                                    <input asp-for="AddressWebsite" class="form-control" placeholder="Địa chỉ" />
                                    <span asp-validation-for="AddressWebsite" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DateWork" class="control-label">Thời gian làm việc</label>
                                    <input asp-for="DateWork" class="form-control" placeholder="Ngày làm việc" />
                                    <span asp-validation-for="DateWork" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TimeWork" class="control-label">Giờ làm việc</label>
                                    <input asp-for="TimeWork" class="form-control" placeholder="Giờ làm việc" />
                                    <span asp-validation-for="TimeWork" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MapLatLon" class="control-label">Tọa độ</label>
                                    <input asp-for="MapLatLon" class="form-control" placeholder="Tọa độ" />
                                    <span asp-validation-for="MapLatLon" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                            <a href="/Admin" class="btn btn-secondary">Hủy</a>
                        </div>
                    </div>
                </form>

                <!--end::Form-->
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $.post("/Admin/Dashboard/GetLogo",{}, function (data) {
                $(".container-Logo").html("<img class='img-fluid' style='max-height: 200px;' src=" + data + ">")
            })

            $.post("/Admin/Dashboard/GetBanner",{}, function (data) {
                $(".container-Banner").html("<img class='img-fluid' style='max-height: 200px;' src=" + data + ">")
            })

            $("#fileBanner").change(function (e) {
                var input = document.getElementById("fileBanner");
                var files = input.files;
                var formData = new FormData();

                for (var i = 0; i != files.length; i++) {
                    formData.append("file", files[i]);
                }

                jQuery.ajax({
                    type: 'POST',
                    url: "/Services/UploadBannerAsync",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $(".container-Banner").html("<img class='img-fluid' style='max-height: 200px;' src=" + data + ">")
                    }
                });
            })

            $("#fileLogo").change(function (e) {
                var input = document.getElementById("fileLogo");
                var files = input.files;
                var formData = new FormData();

                for (var i = 0; i != files.length; i++) {
                    formData.append("file", files[i]);
                }

                jQuery.ajax({
                    type: 'POST',
                    url: "/Services/UploadLogoAsync",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $(".container-Logo").html("<img class='img-fluid' style='max-height: 200px;' src=" + data + ">");
                        $("#Logo").val(data);
                    }
                });
            })
        })
    </script>
}



